:root {
    --darkcyan: rgb(3, 80, 88);
    --lightcyan: rgba(86, 230, 252, 0.185);
}

header { 
    display: flex;
    color: var(--darkcyan);
    background-color: var(--lightcyan);
    margin: -9px;  
    justify-content: space-between; 
    padding: 1px 10px; 
}

#time {
   margin: 0;
}

#viewHighScores:hover {
    cursor: pointer;
}

#pageBox {
    border: 1px solid black;
    box-shadow: 0 0 10px 3px;
    margin: 150px 300px 0px;
    padding: 0px 20px 15px; 
}

#introBox {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.btn {
    background-color: var(--darkcyan);
    color: white;
    font-size: x-large;
    border-radius: 10px;
    padding: 5px 50px;
    margin: 20px;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

.btnGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.hidden {
    display: none;
    flex-direction: column;
}

#enterInitialsBox {
    line-height: 40px;
    text-align: center;
    align-items: center;
}

#initials {
    width: 18%;
}

#score, label {
    font-size: larger;
    font-weight: bold;
}

#submitBtn {
    margin-top: -10px;
}

#msg {
    font-weight: bold;
    font-size: larger;
    color: red;
    margin-top: -10px;
}

#yourScore {
    background-color: var(--lightcyan);
    color: var(--darkcyan);
    padding-left: 4px;
    font-size: larger;
    margin-top: -5px;
    
}

@media screen and (max-width: 1145px) {
    .btnGrid {
      display: table-column;
    }
    .btn {
        width: 90%;
    }
  }














