header { 
    display: flex;
    color: rgb(3, 80, 88);
    background-color: rgba(86, 230, 252, 0.185);
    margin: -8px;  
    justify-content: space-between; 
    padding: 0px 10px;
}

#viewscores, #time {
    margin: 0px;
}

.pagebox {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 50px 300px;
    padding: 20px;
}

#startbtn {
    background-color: rgb(3, 80, 88);
    color: white;
    font-size: x-large;
    border-radius: 10px;
    padding: 5px 50px;
    margin: 20px;
}











